#title{"aria-labelledby" => "experience-title", :role => "tabpanel"}
  .row
    .col-md-8
      .form-content-wrap
        %h2 
          = t('experiences.edit_page.step_6.heading') 
        = render partial: 'experiences/steps/step_count', locals: { f: f, step: 7 }
        .form-group
          = f.text_field :title, placeholder: t('experiences.edit_page.step_6.placeholder'), :required => true,  class: 'form-control'
        .form-group
          = f.submit t('common.next_button'), class: 'btn next-stpe-btn'
    .col-md-4
      .side-img
        %img{:src => "/assets/side-6.jpg"}/