%section.gradient.form-promo
  .container-xs
    %h2 Save time, save money!
    %form
      %input.form-control{:name => "", :placeholder => "Enter your mail", :type => "text"}/
      %input.btn.btn-primary{:name => "", :type => "submit", :value => "Subscribe"}/
      %p Sign up and we'll send the best deals to you
    .clearfix

%footer.footer
  .container
    .row
      .col-md-3
        %h4 Homes2hotels
        %ul
          %li
            %a{:href => "#"} Careers
          %li
            %a{:href => "#"} Press
          %li
            %a{:href => "#"} Policies
          %li
            %a{:href => "#"} Help
          %li
            %a{:href => "#"} Diversity  Belonging
      .col-md-3
        %h4 Discover
        %ul
          %li
            %a{:href => "#"} Trust  Safety
          %li
            %a{:href => "#"} Travel Credit
          %li
            %a{:href => "#"} Business Travel
          %li
            %a{:href => "#"} Guidebooks
          %li
            %a{:href => "#"} Events
      .col-md-3
        %h4 More
        %ul
          %li
            %a{:href => "#"} Terms
          %li
            %a{:href => "#"} Privacy
          %li
            %a{:href => "#"} Site Map
      .col-md-3
        %h4 Join Us
        %ul.social-links
          %li
            %a{:href => "#"}
              %i.flaticon-facebook
          %li
            %a{:href => "#"}
              %i.flaticon-twitter
          %li
            %a{:href => "#"}
              %i.flaticon-linkedin
          %li
            %a{:href => "#"}
              %i.flaticon-instagram
          %li
            %a{:href => "#"}
              %i.flaticon-google-plus
        %ul.lang-links
          %li English
          %li INR - Rs
    .row.footer-bottom
      .col-md-6
        %p
          %a{:href => "#", :title => ""} Privacy Policy
          |
          %a{:href => "#", :title => ""} Terms of Use
          |
          %a{:href => "#", :title => ""} Cookies and Interest-Based Ads
      .col-md-6.text-right
        %p Copyright &#xA9; 2019 homes2hotels

