%main
  %section{:style => "margin:150px"}
    .wrapper
      .container
        %h3 Terms & policies
        
        %h4 Homes2Hotels’s Nondiscrimination Policy: Our Commitment to Inclusion and Respect
        %p Homes2Hotels is, at its core, an open community dedicated to bringing the world closer together by fostering meaningful, shared experiences among people from all parts of the world. Our community includes millions of people from virtually every country on the globe. It is an incredibly diverse community, drawing together individuals of different cultures, values, and norms.

        %h4 How do I report a travel video that violates Homes2Hotels’s Content or Copyright Policies?
        %p If you think a video violates our Content Policy, send an email to Homes2Hotelstravelstories@Homes2Hotels.com.

        %h4 WeWork Day Pass Terms
        %p To qualify for the offer (“Offer”) of a complimentary day of access to WeWork Hot Desk workspace (the “Day Pass”): (a) you must have an active Homes2Hotels account; (b) you must have linked your work email address to your Homes2Hotels account; (c) you must book accommodations on Homes2Hotels and indicate the stay is for business purposes; (d) your Homes2Hotels accommodations must be near a WeWork location that is included in the Offer and has availability; (e) you must confirm your Day Pass reservation on WeWork; (f) you may only use the Day Pass during your Homes2Hotels stay (between your check-in and check-out dates); (g) you must book your Homes2Hotels and reserve your WeWork by no later than March 31, 2018; and (h) you must check in to your Homes2Hotels accommodations no later than June 30, 2018. Homes2Hotels and WeWork may extend or terminate the Offer period at any time.

        %h4 How can I help my guest find a new place if I have to cancel?
        %p If your plans change and you have to cancel a guest's reservation, your guest will be notified immediately via email and sent rebooking options similar to your listing.


