%h3 Homes2Hotels Privacy Policy
%p This Privacy Policy describes how we collect, use, process, and disclose your information, including personal information, in conjunction with your access to and use of the Homes2Hotels Platform and the Payment Services.