#change-offer.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title Update offers list
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
      .modal-footer
