#manage-offer.modal
  .modal-dialog.small
    .modal-content
      .modal-header
        %h3.modal-title Manage Offer
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
      .modal-footer
