%li 
  = t('experiences.new_page.page_3.list_item_1')
%li 
  = t('experiences.new_page.page_3.list_item_2')
%li 
  = t('experiences.new_page.page_3.list_item_3')
%li 
  = t('experiences.new_page.page_3.list_item_4')