/ %main
/   %section.hero_in.become_host_form.start_bg_zoom
/     .wrapper
/   / /hero_in
/   .bg_color_1
/     .container.margin_60_35
/       .row
/         .col-lg-7
/           %section#description
/             %h2 About your trip
/             .reviews-container.about-trip-box
/               .review-box.clearfix
/                 .rev-content
/                   .rev-text
/                     Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
/                 %figure.rev-thumb
/                   %img{:alt => "", :src => "/assets/avatar1.jpg"}/
/             %button.btn.red-button.bold-button{:type => "button"} Agree and continue
/             / /row
/             / /row
/           / /section
/         / /col
/         %aside.col-lg-5
/           .confirm-booking_detail.trip-details-list
/             .row
/               .col-sm-8
/                 %h2
/                   Live the LA Lifestyle in Loft near Metro
/                 %p Entire home/apt in Los Angeles
/                 .score
/                   .cat_star
/                     %i.icon_star
/                     %i.icon_star
/                     %i.icon_star
/                     %i.icon_star
/                     %i.icon_star
/                 %span 206 reviews
/               .col-sm-4
/                 %img.img-fluid{:src => "/assets/places-1.jpg"}/
/             %hr/
/             .booking-date-detail
/               %ul
/                 %li
/                   %i.icon-users
/                   1 guest
/                 %li
/                   %i.icon-calendar-empty
/                   %span 30 Sep 2018
/                   %i.fa.fa-arrow-right
/                   %span 2 Oct 2018
/               .booking-price-details
/                 %table{:width => "100%"}
/                   %tr
/                     %td ₹7,614.67 x 2 nights
/                     %td ₹15,229.34
/                   %tr
/                     %td Cleaning fee
/                     %td ₹3,430.03
/                   %tr
/                     %td Service fee
/                     %td ₹2,682.28
/                   %tr
/                     %td Occupancy taxes and fees
/                     %td ₹2,612.31
/                   %tr
/                     %td Service fee
/                     %td ₹2,682.28
/                   %tr.total-price
/                     %td Total (INR)
/                     %td
/                       %strong ₹23,953.96
/               %hr/
/               .row
/                 .col-sm-8
/                   %h2
/                     Strict with grace period – free cancellation
/                   %p
/                     Cancel within 48 hours of booking to get a full refund.
/                     %a{:href => "#"} More details
/                 .col-sm-4
/                   %img.img-fluid{:src => "/assets/logo_sticky.png"}/
/         #trip-details.nav-toggle.dropdown
/           %a See Trip Booking Details