%section.top-banner.relative
  .full-thumb
  .relative
    .container-sm
      %h1 Plan your next trip
      %form.search-from
        %ul
          %li
            %i.flaticon-search
            %input.form-control{:placeholder => "Surfing in India", :type => "text"}/
          %li
            .dropdown
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %i.flaticon-calendar
                Dates
                %span.caret
              .dropdown-menu
                = image_tag "date.png", alt: ""
            .dropdown
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %i.flaticon-user
                Guests
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} 1
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
          %li
            %button.btn.btn-primary{:type => "Submit"} Let’s go

%section.content-padding-sm
  .container
    .row
      .col-md-5.text-right
        %h2.heading-style2 Explore Homes2Hotels
      .col-md-7
        %ul.info-block
          %li
            .full-thumb.pic_img1
            %h4 Homes
          %li
            .full-thumb.pic_img2
            %h4 Experiences
          %li
            .full-thumb.pic_img3
            %h4 Restaurants

%section.content-padding-sm
  .container
    .promo-banner.relative
      .full-thumb.promo-bg-img1
      .promo-content.relative
        %a.link-overlay{:href => "#", :title => ""}
        %h2 Introducing homes 2 Hotels
        %p A new selection of homes verified for quality  comfort
        %i.flaticon-right-arrow

%section.content-padding-sm
  .container
    .heading-style
      %h2 Explore homes around the world
      %p Find a Top-rated with amenities you need
    .promo-slider
      .promo-item.relative
        .full-thumb.slick-slider-img1
        %h3.gradient Chicago
      .promo-item.relative
        .full-thumb.slick-slider-img2
        %h3.gradient Los Angeles
      .promo-item.relative
        .full-thumb.slick-slider-img3
        %h3.gradient Miami
      .promo-item.relative
        .full-thumb.slick-slider-img4
        %h3.gradient New York City
      .promo-item.relative
        .full-thumb.slick-slider-img5
        %h3.gradient San Francisco
      .promo-item.relative
        .full-thumb.slick-slider-img6
        %h3.gradient New York City
      .promo-item.relative
        .full-thumb.slick-slider-img7
        %h3.gradient San Francisco

%section.content-padding-sm
  .container
    .promo-banner.relative
      .full-thumb.promo-bg-img2
      .promo-content.relative
        %a.link-overlay{:href => "#", :title => ""}
        %h2 Introducing Restaurant
        %p A new selection of homes verified for quality  comfort
        %i.flaticon-right-arrow

%section.content-padding-sm
  .container
    .heading-style
      %h2 Whatever accommodations
      %p you’re looking for, we've got them...
    .promo-slider
      .promo-item.relative
        .full-thumb.slick-slider-img1-1
        %h3.gradient Homestays
      .promo-item.relative
        .full-thumb.slick-slider-img1-2
        %h3.gradient Campgrounds
      .promo-item.relative
        .full-thumb.slick-slider-img1-3
        %h3.gradient Country Houses
      .promo-item.relative
        .full-thumb.slick-slider-img1-4
        %h3.gradient Farm Stays
      .promo-item.relative
        .full-thumb.slick-slider-img1-5
        %h3.gradient Boats
      .promo-item.relative
        .full-thumb.slick-slider-img1-6
        %h3.gradient Farm Stays
      .promo-item.relative
        .full-thumb.slick-slider-img1-7
        %h3.gradient Country Houses

%section.cta-blocks
  .container-sm
    .row
      .col-md-4
        .cta-block-item
          %i.flaticon-call
          %p
            %strong> 24/7 customers support
            If you need help while traveling or
            
            hosting conatct us at our toll free number: 000 000 0000 123
      .col-md-4
        .cta-block-item
          %i.flaticon-award
          %p
            %strong> Rs 6,00,00,000 host guarantee
            Hosts are protected against property
            
            damages for up to Rs 6,00,00,000 learn More
      .col-md-4
        .cta-block-item
          %i.flaticon-success
          %p
            %strong> Verified ID
            We aim to build a trusted community by giving you more info when you're deciding who to host or stay with.


