= link_to('Edit Profile', edit_profile_path(current_user.id), class: "btn btn-success") 
= link_to('Upload Photo',  set_profile_picture_profiles_path, class: "btn btn-success") 
= link_to('Trust And Verification',  set_trust_and_verification_profiles_path, class: "btn btn-success")
= link_to('Reviews',  show_review_profiles_path , class: "btn btn-success" )
