%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    %title
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    :css
      #outlook a { padding: 0; }
      .ReadMsgBody { width: 100%; }
      .ExternalClass { width: 100%; }
      .ExternalClass * { line-height:100%; }
      body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
      table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
      img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
      p { display: block; margin: 13px 0; }
    :css
      @media only screen and (max-width:480px) {
        @-ms-viewport { width:320px; }
        @viewport { width:320px; }
      }
    %link{:href => "https://d2yjfm58htokf8.cloudfront.net/static/fonts/averta-v2.css", :rel => "stylesheet", :type => "text/css"}/
    :css
      @import url(https://d2yjfm58htokf8.cloudfront.net/static/fonts/averta-v2.css);
    :css
      p {
        margin: 0 0 24px 0;
      }

      a {
        color: #ff5a5f;
        font-weight: 600;
      }

      hr {
        margin: 32px 0;
        border-top: 1px #e2e6e8;
      }

      dt {
        font-size: 13px;
        margin-left: 0;
      }

      dd {
        color: #37517e;
        margin-bottom: 24px;
        margin-left: 0;
      }

      h5 {
        font-family: TW-Averta-SemiBold, Averta, Helvetica, Arial;
        font-size: 16px;
        line-height: 24px;
        color: #2e4369;
      }

      pre {
        display: block;
        padding: 16px;
        padding: 12px 24px;
        margin: 0 0 48px;
        font-size: 14px;
        line-height: 24px;
        color: #4a5860;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f2f5f7;
        border-radius: 3px;
      }

      .body-wrapper {
        background: #f2f5f7;
        padding: 0px;
        margin: auto;
      }

      .content-wrapper {
        max-width: 536px;
        padding: 32px;
        padding-bottom: 48px;
      }

      .footer-wrapper div {
        color: #37517e !important;
      }

      .page-header {
        border-bottom: 1px solid #eaebed;
        padding-bottom: 16px;
      }

      .mb-0 {
        margin-bottom: 0 !important;
      }

      .mt-0 {
        margin-top: 0 !important;
      }

      .btn {
      }

      .btn:hover {
        background-color: #00a4df;
      }

      .btn:active {
        background-color: #008ec0;
      }

      @media screen and (min-width: 576px) and (max-width: 768px) {
        .body-wrapper {
          padding: 24px !important;
        }

        .content-wrapper {
          max-width: 504px !important;
          padding: 48px !important;
        }
      }

      @media screen and (min-width: 768px) {
        .body-wrapper {
          padding: 48px !important;
        }

        .content-wrapper {
          max-width: 456px !important;
          padding: 72px !important;
          padding-top: 48px !important;
        }
      }
    :css
      @media only screen and (min-width:480px) {
        .mj-column-per-100 { width:100%!important; }
      }
  %body
    .mj-container.body-wrapper
      .content-wrapper{"data-class" => "content-wrapper", :style => "margin:0px auto;max-width:600px;background:#fff;"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;background:#fff;"}
          %tbody
            %tr
              %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                %div{:style => "margin:0px auto;max-width:600px;"}
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;"}
                    %tbody
                      %tr
                        %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                          .mj-column-per-100.outlook-group-fix{:style => "vertical-align:middle;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "vertical-align:middle;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:align => "center", :style => "word-wrap:break-word;font-size:0px;padding:0px;"}
                                    %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "border-collapse:collapse;border-spacing:0px;"}
                                      %tbody
                                        %tr
                                          %td{:style => "width:150px;"}
                                            %img{:alt => "Logo", :height => "auto", :src => "https://homes2hotels.ca/assets/logo_sticky.png", :style => "border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;", :title => "", :width => "150"}/
                %div{:style => "margin:0px auto;max-width:600px;"}
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;"}
                    %tbody
                      %tr
                        %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                          .mj-column-per-100.outlook-group-fix{:style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:style => "word-wrap:break-word;font-size:0px;padding:0px;"}
                                    %div{:style => "font-size:1px;line-height:48px;white-space:nowrap;"}  
                %div{:style => "margin:0px auto;max-width:600px;"}
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;"}
                    %tbody
                      %tr
                        %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                          .mj-column-per-100.outlook-group-fix{:style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:align => "left", :style => "word-wrap:break-word;font-size:0px;padding:0px;"}
                                    %div{:style => "cursor:auto;color:#5d7079;font-family:TW-Averta-Regular, Averta, Helvetica, Arial;font-size:16px;line-height:24px;letter-spacing:0.4px;text-align:left;"}
                                      %p Hello,
                                      %p{:style => "padding: 0;margin: 0; text-align: left;font-family:'Circular', 'Helvetica', Helvetica, Arial, sans-serif;max-width: 485px;font-weight: 700;color: #484848; line-height: 1.3;word-break: keep-all;hyphens: none;-moz-hyphens: none; -webkit-hyphens: none;font-size: 26px;-ms-hyphens: none;padding-bottom: 8px; margin-bottom: 0 !important;"} It’s time to confirm your email address.
                                      %p
                                        Have we got the right email address to reach you on? To confirm that you can get
                                        our emails, just click the button below.
                                      %p
                                        = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "btn", :style => "font-family: 'Circular', Helvetica, Arial, sans-serif;font-weight: normal;margin: 0;text-align: center; line-height: 1.3;color: #fff;font-size: 22px; text-decoration: none;font-weight:bold;background-color: #ff5a5f;-webkit-border-radius: 3px;border-radius: 4px;padding: 19px 24px 19px 24px; display: block;"
                                        Confirm my email address
                                      %p
                                        If you don’t know why you got this email, please tell us straight away so we can
                                        fix this for you.
                                      %hr{:style => "margin-top: 56px"}/
                                      %p.mb-0 Thanks,
                                      %p.mb-0 The Homes2Hotels Team
      .content-wrapper.footer-wrapper{:style => "margin:0px auto;max-width:600px;"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;"}
          %tbody
            %tr
              %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                %div{:style => "margin:0px auto;max-width:600px;"}
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;"}
                    %tbody
                      %tr
                        %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                          .mj-column-per-100.outlook-group-fix{:style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:align => "center", :style => "word-wrap:break-word;font-size:0px;padding:0px;"}
                                    %div{:style => "cursor:auto;color:#5d7079;font-family:TW-Averta-Regular, Averta, Helvetica, Arial;font-size:14px;line-height:24px;letter-spacing:0.4px;text-align:center;"}
                                      You can find answers to common questions
                                      = succeed "." do
                                        %a{:color => "#ff5a5f;", :href => "#"} here
                                      = succeed "." do
                                        %a{:href => "#"} support@transferwise.com
                %div{:style => "margin:0px auto;max-width:600px;"}
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;"}
                    %tbody
                      %tr
                        %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                          .mj-column-per-100.outlook-group-fix{:style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:style => "word-wrap:break-word;font-size:0px;padding:0px;"}
                                    %div{:style => "font-size:1px;line-height:24px;white-space:nowrap;"}  
      %div{:style => "margin:0px auto;max-width:600px;background:transparent;"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;background:transparent;"}
          %tbody
            %tr
              %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px;"}
                .mj-column-per-100.outlook-group-fix{:style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                    %tbody
                      %tr
                        %td{:align => "center", :style => "word-wrap:break-word;font-size:0px;padding:0px;"}
                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "border-collapse:collapse;border-spacing:0px;"}
                            %tbody
                              %tr
                                %td{:style => "width:1px;"}
                                  %img{:alt => "", :height => "1", :src => "https://api.transferwise.com/v1/notification-flow/messages/c6180a31-5cdb-477a-8c36-756232726efc/channels/EMAIL/open.gif", :style => "border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:1px;", :title => "", :width => "1"}/
